.item-calendar-event-date-field {
  display: block;
  width: 100%;
}

.Composer-calendarEventDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

label {
  display: none;
}
